@import "./header/header";
@import "./logo/logo";
@import "./wrapper/wrapper";
@import "./nav/nav";
@import "./panel/panel";
@import "./reg-btn/reg-btn";
@import "./btn/btn";
@import "./info-line/info-line";
@import "./video/video";