@charset "UTF-8";
.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 65px 80px 80px 80px;
  background: center/cover no-repeat;
  background-image: linear-gradient(to top left, rgba(23, 164, 186, 0.9), rgba(29, 233, 182, 0.9)), url(./header/img/bg.png);
}

.header__info-line {
  height: 100%;
  flex: 1 0 auto;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 30px 40px 40px 40px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header {
    padding: 30px 20px 20px 20px;
  }
}

/* Landscape phones and smaller */
.logo {
  display: flex;
  flex: 0 0 auto;
}

.logo__icon {
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.logo__title {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

.logo__subtitle {
  margin: 0;
  font-weight: 900;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  font-size: 15px;
}

.wrapper__panel {
  width: 100%;
  z-index: 50;
}

.wrapper__header {
  height: 100vh;
}

.wrapper__article-box {
  min-height: 800px;
}

.wrapper__article-box--services {
  min-height: 870px;
}

.wrapper__contact {
  align-self: center;
  width: 100%;
}

.wrapper__footer {
  align-self: center;
  width: 100%;
}

.nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
}

.nav__btn {
  padding: 15px 25px;
  border-radius: 10px;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
}

.nav__btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 800;
}

.nav__btn:active {
  transition-duration: 0.1s;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000000;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .nav__btn {
    padding: 15px 15px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .nav {
    flex-wrap: wrap;
  }
  .nav__btn {
    padding: 15px 15px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .nav {
    flex-wrap: wrap;
  }
  .nav__btn {
    font-size: 13px;
    padding: 5px 5px;
  }
}

.panel {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  box-sizing: border-box;
  border-bottom: 0px solid #16a07d;
  background-color: #1de9b698;
  transition-duration: 0.9s;
}

.panel:hover {
  background-color: #16a07dd5;
  padding: 20px 80px 10px;
  border-bottom: 3px solid #094133;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .panel {
    padding: 0 40px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .panel {
    padding: 0 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-40px);
  }
  .panel__logo {
    margin-top: 10px;
    order: 1;
  }
  .panel__nav {
    order: 3;
  }
  .panel__reg-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    order: 2;
    margin-left: 100px;
  }
}

/* Landscape phones and smaller */
.reg-btn {
  flex: 0 0 auto;
  background: none;
  border: 1px solid #ffffff;
  padding: 6px 20px;
  border-radius: 2px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.reg-btn:hover {
  cursor: pointer;
}

.reg-btn:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15);
  transition-duration: 0.3s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  color: #061e37;
}

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-line__left-block {
  display: flex;
  flex-direction: column;
  flex: 0 1 37.5%;
}

.info-line__rigth-block {
  position: relative;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex: 0 1 37.5%;
  min-width: 0;
}

.info-line__rigth-block--off-center {
  flex: 0 0 52.5%;
}

.info-line__title {
  margin: 0;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 55px;
  font-weight: 800;
  line-height: 1.18;
  text-transform: uppercase;
}

.info-line__title--few {
  font-weight: 600;
  font-size: 45px;
}

.info-line__title-p {
  position: relative;
  transform: translateX(-120%);
  opacity: 0;
  transition: all 0.8s linear 0.5s;
}

.info-line__title-p.__active {
  transform: translateX(0);
  opacity: 1;
}

.info-line__txt {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.info-line__txt--few {
  font-weight: 500;
  font-size: 18px;
}

.info-line__txt-p {
  position: relative;
  transform: translateX(-120%);
  opacity: 0;
  transition: all 0.5s linear 0.2s;
}

.info-line__txt-p.__active {
  transform: translateX(0);
  opacity: 1;
}

.info-line__btn-wrapper {
  display: flex;
  margin-top: 32px;
}

.info-line__btn--buy-now {
  background-color: #061e37;
  margin-right: 30px;
  padding: 22px 43px;
  font-family: "Roboto";
  font-weight: 400;
  color: #ffffff;
}

.info-line__btn--buy-now:hover {
  background-color: #ffffff;
  color: #000000;
}

.info-line__btn--try-for-free {
  padding: 22px 29px;
}

.info-line__btn--try-for-free:hover {
  background-color: #061e37;
  color: #ffffff;
}

.info-line__slider {
  height: 100%;
  min-width: 0;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1499px) {
  .info-line__title {
    font-size: 35px;
  }
  .info-line__title--few {
    font-size: 35px;
  }
  .info-line__txt {
    font-size: 16px;
  }
  .info-line__txt--few {
    font-size: 16px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .info-line__left-block {
    flex: 0 1 45%;
  }
  .info-line__rigth-block {
    flex: 0 1 45%;
  }
  .info-line__title {
    font-size: 30px;
  }
  .info-line__title--few {
    font-size: 30px;
  }
  .info-line__txt {
    font-size: 14px;
  }
  .info-line__txt--few {
    font-size: 14px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .info-line__left-block {
    flex: 0 1 36%;
  }
  .info-line__rigth-block {
    justify-content: center;
    margin-top: 15px;
    flex: 0 1 60%;
    height: 100%;
  }
  .info-line__title {
    font-size: 24px;
  }
  .info-line__title--few {
    font-size: 24px;
  }
  .info-line__txt {
    font-size: 14px;
  }
  .info-line__txt--few {
    font-size: 14px;
  }
  .info-line__btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
  }
  .info-line__btn--buy-now {
    margin-right: 0px;
  }
  .info-line__btn--try-for-free {
    margin-top: 20px;
  }
  .info-line__slider {
    height: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .info-line {
    flex-direction: column;
    justify-content: center;
  }
  .info-line__left-block {
    flex: 0 1 auto;
  }
  .info-line__rigth-block {
    justify-content: center;
    margin-top: 15px;
    flex: 0 1 50%;
    height: 100%;
  }
  .info-line__title {
    font-size: 20px;
  }
  .info-line__title--few {
    font-size: 20px;
  }
  .info-line__txt {
    font-size: 14px;
  }
  .info-line__txt--few {
    font-size: 14px;
  }
  .info-line__btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .info-line__btn--buy-now {
    margin-right: 20px;
    padding: 11px 22px;
  }
  .info-line__btn--try-for-free {
    margin-top: 0px;
    padding: 11px 14px;
  }
  .info-line__slider {
    height: 100%;
  }
}

/* Landscape phones and smaller */
.video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  max-height: 100%;
  box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.5s linear 0.3s;
}

.video__wrapper {
  font-size: 0;
  height: 100%;
}

.video__video {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 0;
}

.video__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.video__play {
  width: 60px;
  height: 60px;
  background-color: #061e37;
  color: #ffffff;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.video__play:hover {
  background-color: #ffffff;
  color: #061e37;
  cursor: pointer;
}

.video__watch-this {
  color: #061e37;
  font-weight: 900;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 22px;
}

.video.__active {
  opacity: 1;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .video__video {
    width: auto;
    height: 43vh;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .video__video {
    width: 100%;
    height: auto;
  }
}

.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 100px 80px;
  color: #061e37;
  font-weight: 500;
}

.article-box__header-wrapper {
  overflow: hidden;
}

.article-box__header {
  position: relative;
  transform: translateY(100%);
  transition: all 0.5s linear 0s;
  opacity: 0;
}

.article-box__header.__active {
  transform: translateY(0);
  opacity: 1;
}

.article-box__title {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 45px;
}

.article-box__subtitle {
  margin: 9px 0 0 0;
  text-align: center;
  font-size: 25px;
  color: #b0bec5;
}

.article-box__description {
  margin: 15px 0 0 0;
  width: 555px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  color: #b0bec5;
  line-height: 1.67;
}

.article-box__main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  padding: 48px 0 0 0;
}

.article-box__project-tool {
  flex: 1 1 auto;
}

.article-box__btn {
  align-self: center;
  width: 150px;
  height: 55px;
  background-color: #1de9b6;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.article-box__btn:hover {
  cursor: pointer;
  background-color: #128b6d;
}

.article-box__spoilers {
  margin: 0 auto;
  width: 50%;
}

.article-box__slider {
  min-width: 0;
}

.article-box__slider.slider--photo {
  align-self: center;
  min-width: 0;
  width: 100%;
  margin: 16px 0 0 0;
}

.article-box__slider.slider--about {
  align-self: center;
  min-width: 0;
  width: 40%;
  margin: 40px 0 0 0;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .article-box__slider.slider--about {
    width: 100%;
  }
  .article-box__title {
    font-size: 35px;
  }
  .article-box__subtitle {
    font-size: 25px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .article-box {
    padding: 50px 40px;
  }
  .article-box__description {
    width: 100%;
  }
  .article-box__spoilers {
    width: 70%;
  }
  .article-box__slider.slider--about {
    width: 100%;
  }
  .article-box__title {
    font-size: 25px;
  }
  .article-box__subtitle {
    font-size: 22px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .article-box {
    padding: 25px 20px;
  }
  .article-box__description {
    width: 100%;
  }
  .article-box__main {
    padding: 24px 0 0 0;
  }
  .article-box__spoilers {
    width: 80%;
  }
  .article-box__slider.slider--photo {
    align-self: center;
    min-width: 0;
    width: 100%;
    margin: 16px 0 0 0;
  }
  .article-box__slider.slider--about {
    width: 100%;
  }
  .article-box__title {
    font-size: 20px;
  }
  .article-box__subtitle {
    font-size: 18px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .article-box__spoilers {
    width: 95%;
  }
}

.project-tool {
  display: flex;
  align-items: center;
}

.project-tool__cards-wrapper {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: all 1.5s linear 0s;
}

.project-tool__cards-wrapper.__active {
  opacity: 1;
}

.project-tool__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 344px;
}

.project-tool__icon-wrapper {
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.project-tool__icon {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.project-tool__title {
  margin: 45px 0 0 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.project-tool__about {
  margin: 13px 0 0 0;
  text-align: center;
  color: #78909c;
  font-size: 15px;
  line-height: 1.33;
  font-weight: 400;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .project-tool__cards-wrapper {
    flex-direction: column;
  }
  .project-tool__card {
    flex: 0 1 220px;
  }
}

/* Landscape phones and smaller */
.cards-line__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.2;
  transition: all 0.2s linear 0.6s;
}

.cards-line__wrapper.__active {
  opacity: 1;
}

.cards-line__card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  flex: 1 1 25%;
  text-decoration: none;
  transform: translateX(-400%);
}

.cards-line__card:nth-child(1):nth-child(5n+1) {
  background-color: #80d8ff;
  color: #80d8ff;
  transition-duration: 0.5s;
}

.cards-line__card:nth-child(2):nth-child(5n+2) {
  background-color: #82b1ff;
  color: #82b1ff;
  transition-duration: 0.5s;
}

.cards-line__card:nth-child(3):nth-child(5n+3) {
  background-color: #b388ff;
  color: #b388ff;
  transition-duration: 0.5s;
}

.cards-line__card:nth-child(4):nth-child(5n+4) {
  background-color: #ea80fc;
  color: #ea80fc;
  transition-duration: 0.5s;
}

.cards-line__card.__active {
  transform: translateX(0);
}

.cards-line__card.__active:nth-child(1):nth-child(5n+1) {
  transition-duration: 0.2s;
  transition-delay: 0.3s;
}

.cards-line__card.__active:nth-child(2):nth-child(5n+2) {
  transition-duration: 0.2s;
  transition-delay: 0.6s;
}

.cards-line__card.__active:nth-child(3):nth-child(5n+3) {
  transition-duration: 0.2s;
  transition-delay: 0.9s;
}

.cards-line__card.__active:nth-child(4):nth-child(5n+4) {
  transition-duration: 0.2s;
  transition-delay: 1.2s;
}

.cards-line__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
}

.cards-line__material-icons {
  font-size: 30px;
}

.cards-line__txt-box {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  line-height: 1.25;
  color: white;
  font-size: 20px;
  font-weight: 900;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .cards-line__card {
    justify-content: flex-start;
  }
  .cards-line__wrapper {
    flex-direction: column;
  }
  .cards-line__icon-wrapper {
    margin: 10px 20px;
  }
  .cards-line__txt-box {
    margin-left: 10px;
    font-weight: 900;
  }
}

/* Landscape phones and smaller */
.spoilers__item {
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  transition-duration: 0.5s;
}

.spoilers__item--active {
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.spoilers__item:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.spoilers__item:first-child .spoilers__text-box {
  display: block;
}

.spoilers__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoilers__material-icons {
  font-size: 20px;
}

.spoilers__title-txt {
  flex: 1 1 auto;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
}

.spoilers__text-box {
  margin-top: 25px;
  display: none;
}

.spoilers__main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spoilers__pic-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 33.333%;
  border-radius: 5px;
  overflow: hidden;
}

.spoilers__pic {
  width: 100%;
}

.spoilers__text {
  margin-left: 25px;
}

.spoilers__p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.67;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .spoilers__item {
    padding: 10px;
  }
  .spoilers__main-wrapper {
    flex-direction: column;
  }
  .spoilers__text {
    margin-left: 0px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .spoilers__item {
    padding: 10px;
  }
  .spoilers__main-wrapper {
    flex-direction: column;
  }
  .spoilers__text {
    margin-left: 0px;
  }
}

/* Landscape phones and smaller */
.slider {
  position: relative;
  display: flex;
  align-items: center;
}

.slider--photo .slider__item {
  width: 180px;
  height: 180px;
}

.slider__item-wrapper {
  outline: none;
  margin: 3vh 0px;
}

.slider__item-wrapper--about {
  margin: 0 0;
  width: 100%;
}

.slider__item-wrapper--photo {
  margin: 0 0px;
  padding: 10px 0;
}

.slider__item-wrapper--photo .slider__photo-wrapper--photo {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider__item-wrapper--photo .slider__photo-wrapper--photo::before {
  content: '';
  background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
  opacity: 1;
  transition: .6s;
}

.slider__item-wrapper--photo .slider__photo-wrapper--photo::after {
  content: '';
  background: radial-gradient(rgba(255, 255, 255, 0) 40px, black);
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
  opacity: 0;
  transition: .3s;
}

.slider__item-wrapper--photo:not(.slick-current) .slider__photo-wrapper {
  width: 100px;
  height: 100px;
}

.slider__item-wrapper--photo.slick-current .slider__photo-wrapper--photo {
  border: 20px solid white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.slider__item-wrapper--photo.slick-current .slider__photo-wrapper--photo::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
  opacity: 0;
  transition: .6s;
}

.slider__item-wrapper--photo.slick-current .slider__photo-wrapper--photo::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
  opacity: 1;
  transition: .6s;
}

.slider__item {
  height: 22vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__item--about {
  height: 100%;
  width: 100%;
}

.slider__photo-wrapper {
  cursor: pointer;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  flex: 0 0 auto;
  border-radius: 50%;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: .6s;
}

.slider__photo {
  width: 100%;
  border-radius: 50%;
}

.slider__socnet {
  margin: 25px 0 0 0;
}

.slider__text-wrapper {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex: 1 1 auto;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-left: 50px;
  padding: 30px 60px 30px 30px;
}

.slider__text-wrapper--about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  box-shadow: none;
  padding: 0;
}

.slider__title {
  color: #061e37;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto";
}

.slider__paragraph {
  color: #78909c;
  font-size: 15px;
  line-height: 1.67;
  font-weight: 400;
  font-family: "Roboto";
  font-style: italic;
}

.slider__paragraph--about {
  margin: 7px 0 0 0;
  text-align: center;
  font-style: normal;
  color: #90a4ae;
}

.slider .slick-arrow {
  position: absolute;
  left: calc(50% + 30px);
  z-index: 10;
  font-size: 0;
  width: 26px;
  height: 17px;
  border: none;
  cursor: pointer;
  outline: none;
}

.slider .slick-prev {
  top: -20px;
  background: url(slider/img/icons/arrow-up.png) 0 0/100% no-repeat;
}

.slider .slick-next {
  bottom: -20px;
  background: url(slider/img/icons/arrow-down.png) 0 0/100% no-repeat;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .slider__item-wrapper {
    margin: 20px 0px;
  }
  .slider__item {
    height: 33vh;
  }
  .slider__text-wrapper {
    margin-left: 20px;
    padding: 15px 30px 15px 15px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .slider__item {
    height: 33vh;
  }
  .slider__text-wrapper {
    margin-left: 20px;
    padding: 15px 30px 15px 15px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .slider--photo .slider__item {
    width: 100px;
    height: 100px;
  }
  .slider__item-wrapper--photo:not(.slick-current) .slider__photo-wrapper {
    width: 50px;
    height: 50px;
  }
  .slider__item-wrapper--photo.slick-current .slider__photo-wrapper--photo {
    border: 5px solid white;
  }
  .slider__item {
    height: 35vh;
  }
  .slider__text-wrapper {
    margin-left: 20px;
    padding: 15px 30px 15px 15px;
  }
  .slider .slick-prev {
    top: -10px;
  }
  .slider .slick-next {
    bottom: -10px;
  }
}

/* Landscape phones and smaller */
.socnet {
  display: flex;
}

.socnet__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 15px;
}

.socnet__icon {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 0 100px 0;
  background-color: #fafafa;
}

.contact__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 37.5%;
}

.contact__header {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color: #061e37;
}

.contact__about {
  margin: 17px 0 0 0;
  width: 92.5%;
  text-align: center;
  font-size: 15px;
  color: #061e37;
}

.contact__form-wrapper {
  margin: 49px 0 0 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__text-fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__text {
  flex: 0 1 46.6%;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0 0 0;
  border: 1px solid #061e37;
  border-radius: 5px;
  font-size: 14px;
}

.contact__text::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #061e37;
  font-weight: 500;
}

.contact__message {
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 0 0 0;
  min-height: 150px;
  resize: none;
  border: 1px solid #061e37;
  border-radius: 5px;
  font-size: 14px;
}

.contact__message::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #061e37;
  font-weight: 500;
}

.contact__footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.contact__sub-to-news-wrapper {
  display: flex;
  align-items: center;
}

.contact__sub-to-news {
  display: none;
}

.contact__sub-to-news:checked + .contact__sub-to-news-box {
  outline: 1px solid #fff;
  outline-offset: -4px;
  background-color: #061e37;
}

.contact__sub-to-news-box {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 3px solid #061e37;
  border-radius: 5px;
}

.contact__sub-to-news-label {
  padding: 0 0 0 9px;
  font-weight: 500;
  font-size: 15px;
  color: #061e37;
}

.contact__btn {
  width: 130px;
  height: 50px;
  background-color: #1de9b6;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  outline: none;
}

.contact__btn:hover {
  cursor: pointer;
  background-color: #128b6d;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .contact__text {
    flex: 1 1 60%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .contact__text {
    flex: 1 1 46.6%;
  }
  .contact__header {
    font-size: 35px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .contact__wrapper {
    width: 51%;
  }
  .contact__text {
    flex: 1 1 46.6%;
  }
  .contact__header {
    font-size: 25px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .contact__wrapper {
    width: 70%;
  }
  .contact__header {
    font-size: 25px;
  }
}

.footer {
  background-color: #061e37;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 96px 80px 104px 80px;
}

.footer__logo {
  flex: 0 0 50%;
}

.footer_nav {
  flex: 0 0 50%;
  justify-content: flex-end;
  align-items: center;
}

.footer_nav .nav__btn {
  box-sizing: border-box;
  border-radius: 0px;
  padding: 0 25px;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);
  transition: 0.4s;
}

.footer_nav .nav__btn:hover {
  background-color: #00000000;
  font-weight: 600;
  box-shadow: 0px 5px 0px 0 rgba(13, 68, 126, 0.5);
}

.footer_nav .nav__btn:last-child {
  margin-right: -25px;
}

.footer__copyright {
  flex: 0 0 50%;
  margin: 54px 0 0 0;
}

.footer__copy-a {
  position: relative;
  margin: 0 22px;
  font-size: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer__copy-a:first-child {
  margin-left: 0;
}

.footer__copy-a:last-child {
  margin-right: 0;
}

.footer__copy-a:not(:last-child):after {
  content: '●';
  position: absolute;
  right: -28px;
  pointer-events: none;
  color: white;
}

.footer__socnet {
  flex: 0 0 50%;
  margin: 54px 0 0 0;
  justify-content: flex-end;
}

.footer__socnet .socnet__icon-wrapper:first-child {
  margin-left: 0;
}

.footer__socnet .socnet__icon-wrapper:last-child {
  margin-right: 0;
}

.footer__socnet .socnet__icon {
  opacity: 0.4;
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer_nav {
    margin-top: 20px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
  .footer__socnet {
    margin-top: 20px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer_nav {
    margin-top: 20px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
  .footer__socnet {
    margin-top: 20px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer_nav {
    margin-top: 20px;
    justify-content: center;
  }
  .footer__copyright {
    margin-top: 20px;
  }
  .footer__socnet {
    margin-top: 20px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 40px 20px;
  }
  .footer_nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .footer_nav .nav__btn {
    text-align: center;
  }
  .footer_nav .nav__btn:last-child {
    margin-right: 0;
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .footer__copy-a {
    text-align: center;
    margin: 0;
  }
  .footer__copy-a:not(:last-child):after {
    content: '';
  }
  .footer__socnet {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */