.video {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;

   box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
   opacity: 0;
   transition: all 0.5s linear 0.3s; 
   &__wrapper {

   }
   &__video {
      border-radius: 5px;
   }
   &__buttons {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
   }
   &__play {
      width: 60px;
      height: 60px;
      background-color: #061e37;
      color: #ffffff;
      box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
      &:hover {
         background-color: #ffffff;
         color: #061e37;
         cursor: pointer;
      }
   }
   &__watch-this {
      color: #061e37;
      font-weight: 900;
      font-style: 12px;
      text-transform: uppercase;

      margin-top: 22px;
   }
   &__panel {
      position: absolute;

      width: 100%;
      height: 100%;
      border-radius: 5px;

      background: center/cover no-repeat;
      background-image: linear-gradient(to top, rgba(255,255,255,.9),rgba(255,255,255,.9)), url(/css/video/img/video.png);
   }
   &.__active {
      opacity: 1;
   }
}