.slider {
   position: relative;
   display: flex;
   align-items: center;
   &--photo .slider__item {
      width: 180px;height: 180px;
   }
   &__item-wrapper { 
      outline: none;
      margin: 3vh 0px;
      &--about {
         margin: 0 0;
         width: 100%;
      }
      &--photo {
         margin: 0 0px;
         padding: 10px 0;
         & .slider__photo-wrapper--photo {
            width: 100%;height: 100%;
            position: relative;
            &::before {
               content: '';
               background: radial-gradient(rgba(255,255,255,.8),rgba(255,255,255,.8));
               position: absolute;
               top: -1px; left: -1px;
               width: calc(100% + 2px);height: calc(100% + 2px);
               border-radius: 50%;
               opacity: 1;
               transition: .6s;
            }
            &::after {
               content: '';
               background: radial-gradient(rgba(255, 255, 255, .0) 40px,rgba(0, 0, 0, 1));
               position: absolute;
               top: -1px; left: -1px;
               width: calc(100% + 2px);height: calc(100% + 2px);
               border-radius: 50%;
               opacity: 0;
               transition: .3s;
            }
         }
         &:not(.slick-current) .slider__photo-wrapper {
            width: 100px;height: 100px;
         }
         &.slick-current {
            &  .slider__photo-wrapper--photo {
               border: 20px solid white;
               box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
               &::before {
                  content: '';
                  position: absolute;
                  top: -1px; left: -1px;
                  width: calc(100% + 2px);height: calc(100% + 2px);
                  border-radius: 50%;
                  opacity: 0;
                  transition: .6s;
               }
               &::after {
                  content: '';
                  position: absolute;
                  top: -1px; left: -1px;
                  width: calc(100% + 2px);height: calc(100% + 2px);
                  border-radius: 50%;
                  opacity: 1;
                  transition: .6s;
               }
            }
         }
      }
   }
   &__item {
      height: 22vh;
      display: flex;
      align-items: center;
      justify-content: center;
      &--about {
         height: 100%;width: 100%;
      }
   }
   //фотоэлемент слева
   &__photo-wrapper {
      cursor: pointer;
      box-sizing: border-box;
      width: 60px;
      height: 60px;
      flex: 0 0 auto;

      //overflow: hidden;
      border-radius: 50%;
      box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
      transition: .6s;
   }
   &__photo {
      width: 100%;
      border-radius: 50%;
   }
   //соцсети
   &__socnet {
      margin: 25px 0 0 0;
   }
   //текстовый блок
   &__text-wrapper {
      box-sizing: border-box;
      height: 100%;
      overflow: auto;
      flex: 1 1 auto;
      border-radius: 5px;
      box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      margin-left: 50px;
      padding: 30px 60px 30px 30px;
      &--about {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 0;
         box-shadow: none;
         padding: 0;
      }
   }
   &__title {
      color: #061e37;
      font-size: 18px;
      font-weight: 600;
      font-family: "Roboto";
   }
   &__paragraph {
      color: #78909c;
      font-size: 15px;
      line-height: 1.67;
      font-weight: 400;
      font-family: "Roboto";
      font-style: italic;
      &--about {
         margin: 7px 0 0 0;

         text-align: center;
         font-style: normal;
         color: #90a4ae;
      }
   }
   //кнопки
   & .slick-arrow {
      position: absolute;
      left: calc(50% + 30px); //плюс картинка и минус пол ширины
      z-index: 10;
      font-size: 0;
      width: 26px;height: 17px;
      border: none;
      cursor: pointer;
      outline: none;
   }
   & .slick-prev {
      top: -20px;
      background: url(slider/img/icons/arrow-up.png) 0 0 / 100% no-repeat;
   }
   & .slick-next {
      bottom: -20px;
      background: url(slider/img/icons/arrow-down.png) 0 0 / 100% no-repeat;
   }
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
   .slider {
      &__item-wrapper { 
         margin: 20px 0px;
      }
      &__item {
         height: 33vh;
      }
      &__text-wrapper {
         margin-left: 20px;
         padding: 15px 30px 15px 15px;
      }
   }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .slider {
      &__item {
         height: 33vh;
      }
      &__text-wrapper {
         margin-left: 20px;
         padding: 15px 30px 15px 15px;
      }
   }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .slider {
      &--photo .slider__item {
         width: 100px;height: 100px;
      }
      &__item-wrapper--photo:not(.slick-current) .slider__photo-wrapper {
         width: 50px;
         height: 50px;
      }
      &__item-wrapper--photo.slick-current .slider__photo-wrapper--photo {
         border: 5px solid white;
      }
      &__item {
         height: 35vh;
      }
      &__text-wrapper {
         margin-left: 20px;
         padding: 15px 30px 15px 15px;
      }
      & .slick-prev {
         top: -10px;
      }
      & .slick-next {
         bottom: -10px;
      }
   }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {

}