.wrapper {
   display: flex;
   flex-direction: column;
   &__panel {
      width: 100%;
      z-index: 50;
   }
   &__header {
      height: 100vh;
   }
   &__article-box {
      min-height: 800px;
      &--services {
         min-height: 870px;
      }
   }
   &__contact {
      align-self: center;
      width: 100%;
   }
   &__footer {
      align-self: center;
      width: 100%;
   }
   font-family: 'Raleway', sans-serif;
   color: #ffffff;
   font-size: 15px;
}