.info-line {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__left-block {
      display: flex;
      flex-direction: column;
      flex: 0 1 37.5%;
   };
   &__rigth-block {
      display: flex;
      align-self: stretch;
      align-items: center;
      flex: 0 1 37.5%;
      min-width: 0; //slider-fix
      &--off-center {
         flex: 0 0 52.5%;        
      }
   }
   &__title {
      margin: 0;

      color: #ffffff;
      font-family: 'Raleway', sans-serif;
      font-size: 55px;
      font-weight: 800;
      line-height: 1.18;
      text-transform: uppercase;
      &--few {
         font-weight: 600;
         font-size: 45px;
      }
   }
   &__txt {
      margin: 0;

      font-size: 18px;
      font-weight: 400;
      line-height: 1.94;
      color: #ffffff;
      font-family: 'Raleway', sans-serif;
      &--few {
         font-weight: 500;
         font-size: 18px;
      }
   }
   &__btn-wrapper {
      display: flex;

      margin-top: 32px;
   }

   &__btn--buy-now {
      background-color: #061e37;
      margin-right: 30px;
      padding: 22px 43px;

      font-family: "Roboto";
      font-weight: 400;
      color: #ffffff;

      &:hover {
         background-color: #ffffff;
         color: #000000;
      }
   }
   &__btn--try-for-free {
      padding: 22px 29px;
      &:hover {
         background-color: #061e37;
         color: #ffffff;
      }
   }
   &__slider {
      min-width: 0; //slider-fix
   }
}