.btn {

   border-radius: 5px;
   background-color: #ffffff;
   box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15);

   transition-duration: 0.3s;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 900;
   color: #061e37;
}