.logo {
   display: flex;

   flex: 0 0 auto;
   &__icon {
      width: 30px;
      height: 30px;
      margin-right: 9px;
   }
   &__text {
      display: flex;
      flex-direction: column;

      color: #ffffff;
   }
   &__title {
      margin: 0;
      font-weight: 400;
      font-size: 15px;   
   }
   &__subtitle {
      margin: 0;
      font-weight: 900;
      font-size: 15px;
   }
}