.nav {
   display: flex;
   flex: 1 1 auto;
   justify-content: center;

   font-size: 15px;
   font-weight: 600;

   &__btn {
      padding: 15px 25px;
      border-radius: 10px;

      transition-duration: 0.5s;

      text-decoration: none;
      color: white;
      &:hover {
         background-color: rgba($color: #ffffff, $alpha: 0.3);

         font-weight: 800;
      }
      &:active{
         transition-duration: 0.1s;
         background-color: rgba($color: #ffffff, $alpha: 0.8);

         color: #000000;
      }
   }
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
   .nav {
      &__btn {
         padding: 15px 15px;
      }
   }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .nav {
      flex-wrap: wrap;
      &__btn {
         padding: 15px 15px;
      }
   }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
   .nav {
      flex-wrap: wrap;
      &__btn {
         font-size: 13px;
         padding: 5px 5px;
      }
   }
}