.cards-line {
   &__wrapper {
      display: flex;
      justify-content: center;

      width: 100%;

      opacity: 0.2;
      transition: all 0.2s linear 0.6s;
      &.__active {
         opacity: 1;
      }
   }
   &__card {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 150px;
      flex: 1 1 25%;

      text-decoration: none;

      transform: translateX(-400%);

      &:nth-child(1):nth-child(5n+1){
         background-color: #80d8ff;
         color: #80d8ff;

         transition-duration: 0.5s;
      }
      &:nth-child(2):nth-child(5n+2){
         background-color: #82b1ff;
         color: #82b1ff;

         transition-duration: 0.5s;           
      }
      &:nth-child(3):nth-child(5n+3){
         background-color: #b388ff;
         color: #b388ff;

         transition-duration: 0.5s;
      }
      &:nth-child(4):nth-child(5n+4){
         background-color: #ea80fc;
         color: #ea80fc;

         transition-duration: 0.5s;
      }
      &.__active {
         transform: translateX(0);
         &:nth-child(1):nth-child(5n+1){
            transition-duration: 0.2s;
            transition-delay: 0.3s;
         }
         &:nth-child(2):nth-child(5n+2){
            transition-duration: 0.2s;
            transition-delay: 0.6s;
         }
         &:nth-child(3):nth-child(5n+3){
            transition-duration: 0.2s;
            transition-delay: 0.9s;
         }
         &:nth-child(4):nth-child(5n+4){
            transition-duration: 0.2s;
            transition-delay: 1.2s;
         }
      }
   }
   &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;height: 60px;
      background-color: #ffffff;
      border-radius: 50%;
   }
   &__material-icons {
      font-size: 30px;
   }
   &__txt-box {
      display: flex;
      flex-direction: column;

      margin-left: 23px;

      line-height: 1.25;
      color: white;
      font-size: 20px;
      font-weight: 900;
   }
}

/*MEDIA QUERIES*/
/* Large desktops and laptops */
@media (min-width: 1200px) {

}
/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   .cards-line {
      &__card {
         justify-content: flex-start;
      }
      &__wrapper {
         flex-direction: column;
      }
      &__icon-wrapper {
         margin: 10px 20px;
      }
      &__txt-box {
         margin-left: 10px;
         font-weight: 900;
      }
   }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {

}